/* =========================================
   IMAGE BUTTON
   ========================================= */

.image-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-padding: 0;

    -fx-cursor: hand;
}


/* =========================================
   FOCUS
   ========================================= */

.image-button:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


/* =========================================
   HOVER
   ========================================= */

.image-button:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}


/* =========================================
   PRESSED
   ========================================= */

.image-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;

    -fx-translate-y: 4px;
}


/* =========================================
   SCORE LABEL
   ========================================= */

.score-label {
    -fx-font-family: "System";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a1f12;
}