/* =========================================
   CRITTER CHASE - GAME HUD
   ========================================= */


/* =========================================
   TOP HUD
   ========================================= */

.game-hud {
    -fx-padding: 15px 25px 15px 25px;

    -fx-background-color: rgba(45, 80, 35, 0.92);

    -fx-border-color: #294820;
    -fx-border-width: 0 0 4px 0;
}


/* =========================================
   HUD BOX
   ========================================= */

.hud-box {
    -fx-min-width: 240px;
    -fx-pref-height: 55px;

    -fx-background-radius: 16px;
    -fx-border-radius: 16px;

    -fx-border-width: 3px;

    -fx-padding: 5px 18px 5px 18px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.45),
        6,
        0.25,
        0,
        4
    );
}


/* =========================================
   SCORE
   ========================================= */

.score-box {
    -fx-background-color:
        #936323,
        #D49A4A;

    -fx-background-insets:
        0,
        0 0 5 0;

    -fx-border-color: #704719;
}


/* =========================================
   LEVEL
   ========================================= */

.level-box {
    -fx-background-color:
        #315F2D,
        #5B9E4A;

    -fx-background-insets:
        0,
        0 0 5 0;

    -fx-border-color: #244820;
}


/* =========================================
   HEALTH
   ========================================= */

.health-box {
    -fx-background-color:
        #873528,
        #C95745;

    -fx-background-insets:
        0,
        0 0 5 0;

    -fx-border-color: #67271F;
}


/* =========================================
   HUD TEXT
   ========================================= */

.hud-label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-text-fill: white;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.45),
        2,
        0.2,
        0,
        2
    );
}


/* =========================================
   BOTTOM CONTROLS
   ========================================= */

.controls-container {
    -fx-padding: 12px 0 15px 0;
}


/* =========================================
   CONTROLS LABEL
   ========================================= */

.controls-label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;

    -fx-text-fill: white;

    -fx-background-color: rgba(45, 70, 35, 0.92);

    -fx-background-radius: 15px;

    -fx-border-color: #6B8E52;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;

    -fx-padding: 10px 22px 10px 22px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.40),
        5,
        0.25,
        0,
        3
    );
}